/* Name: Adam Stevenson
Date: May 19-25, 2024
Description: Make 3 web pages based on any model car. QAP1 */

body {
  background-color: rgb(172, 0, 0);
  width: 1368px;
  height: fit-content;
  margin: 0px;
}

header {
  background: linear-gradient(
    180deg,
    #ac0000 0%,
    rgb(0, 0, 0, 90),
    #ac0000 100%
  );
  width: 100%;
  height: 60px;
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  gap: 100px;
  color: white;
  padding: 5px;
  margin-top: 20px;
  padding-left: 70px;
  font-family: "Times New Roman", Times, sans-serif;
}

nav {
  width: 100%;
  word-spacing: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

main {
  text-align: center;
}

p {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 18pt;
  text-align: left;
  margin-left: 100px;
}

h1 {
  color: #fff;
  text-shadow: 6px 4px 4px rgba(0, 0, 0, 0.45);
  font-family: "Times New Roman", Times, serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  padding-left: 20px;
}

h2 {
  color: #fff;
  text-shadow: 6px 4px 4px rgba(0, 0, 0, 0.45);
  font-family: "Times New Roman", Times, serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  padding-left: 20px;
}

li {
  color: #fff;
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  padding-left: 20px;
}

footer {
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 30px;
  flex-shrink: 0;
  gap: 100px;
  color: white;
  padding: 5px;
  padding-left: 70px;
  padding-right: 5px;
  font-family: "Times New Roman", Times, serif;
}

footer small {
  color: white;
}

footer img {
  height: 25px;
}

input[type="text"],
textarea {
  width: 100%;
  height: 50%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

input[type="email"],
textarea {
  width: 100%;
  height: 50%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

/* Classes */

.mainp {
  color: white;
  text-shadow: 6px 4px 4px rgba(0, 0, 0, 0.45);
  font-family: "Times New Roman", Times, serif;
  font-size: 24pt;
  text-align: left;
  margin-left: 100px;
}

.imagealign {
  float: right;
}

.image-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.flexsection {
  border: 3px solid black;
  display: flex;
  justify-content: space-evenly;
  flex: 1;
  flex-wrap: wrap;
  padding: 20px;
  margin-left: 50px;
  margin-bottom: 20px;
}

.nobullet {
  list-style-type: none;
}

.mediapic {
  position: relative;
  display: block;
}

.mediapic:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease;
}

.image-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #ac0000, rgba(255, 255, 255, 0), #ac0000),
    linear-gradient(
      to right,
      rgba(172, 0, 0, 1),
      rgba(255, 255, 255, 0),
      rgba(172, 0, 0, 1)
    );
}

.image-container img {
  height: 600px;
  width: 1000px;
}

figure img {
  height: 200px;
}

iframe {
  width: 560px;
  height: 315px;
}

.image-container2 {
  float: right;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin-right: 150px;
}

.image-container2 img {
  width: 500px;
  height: auto;
}

.image-container2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #ac0000, rgba(255, 255, 255, 0), #ac0000),
    linear-gradient(
      to right,
      #ac0000,
      rgba(255, 255, 255, 0),
      rgba(172, 0, 0, 1)
    );
}

/* Links */

a:link {
  color: white;
  font-weight: 700;
  text-decoration: none;
}

a:visited {
  color: white;
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  color: yellow;
  font-weight: 700;
  text-decoration: none;
}

/* @Media */

@media only screen and (max-width: 800px) {
  body {
    width: 740px;
  }
  main {
    justify-content: center;
  }
  .image-container {
    height: 300px;
    width: 500px;
  }
}
